*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
background:#1e293b;
padding:30px;
width:90%;
max-width:400px;
border-radius:20px;
text-align:center;
}

h1{
color:white;
margin-bottom:10px;
}

p{
color:#b8b8b8;
margin-bottom:25px;
}

input{
width:100%;
padding:15px;
margin-bottom:15px;
border:none;
border-radius:12px;
font-size:16px;
}

button{
width:100%;
padding:15px;
background:#FFD700;
color:black;
font-weight:bold;
font-size:17px;
border:none;
border-radius:12px;
cursor:pointer;
}

button:hover{
opacity:.9;
}

a{
display:block;
margin-top:20px;
color:#FFD700;
text-decoration:none;
}
