*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111827;
    font-family:Arial,sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    color:white;
}

.container{
    width:90%;
    max-width:400px;
    text-align:center;
}

h1{
    font-size:34px;
    margin-bottom:15px;
}

.subtitle{
    color:#cfcfcf;
    margin-bottom:40px;
}

button{
    width:100%;
    padding:16px;
    border:none;
    border-radius:15px;
    font-size:18px;
    cursor:pointer;
    margin-top:15px;
    background:#FFD700;
    color:black;
    font-weight:bold;
}

button:hover{
    transform:scale(1.03);
}
